/* 
primary: 76BBF0
accent: F94E08
background: F8F8F8
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2rem;
  }
  
  button {
    height: 3rem;
    background-color: #F8F8F8;
  }
  
  .calculator {
  /*   display: flex;
    flex-direction: column; */
    width: 350px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid black;
  }
  
  .display {
    text-align: right;
    background-color: black;
  }
  #formula {
    color: #F94E08;
    min-height: 2rem;
  }
  #display {
    color: white;
    font-size: 2rem;
  }
  
  #clear {
    background-color: #F94E08;
  }
  
  #equals {
    background-color: #76BBF0;
  }
  